<div class="m0">
  <% config.shop.items.forEach(function (item, index) { %>
    <div class="m0 md-col md-col-6">
      <div class="overflow-hidden bg-white">
        <div class="ml2 mr2 mb2 border border-silver rounded">
          <div class="inventoryData">
            <a href="<%- item.url %>"><img /></a>
            <div class="center black h1"><%- item.name %></a></div>
            <div class="center mb1">
              <form action="<%- item.url %>" method="GET">
                <button id="buy_<%- index %>" class="center btn bg-green-gradient" disabled>$<%- item.prices[item.priceIndex].amount.toFixed(2) %></button>
              </form>
            </div>
            <div class="px3 black"><%- item.description %></div>
          </div>
          <div class="h3 bold center">Time left:</div>
          <div class="md-col-12 clearfix center">
            <div class="inline-block ml1 mr1 mt1 px1 timerSlot">
              <div id="remaining_days_<%- index %>" class="h1 ticker courier">--</div>
              <div>Days</div>
            </div>
            <div class="inline-block ml1 mr1 mt1 px1 timerSlot">
              <div id="remaining_hours_<%- index %>" class="h1 ticker courier">--</div>
              <div>Hours</div>
            </div>
            <div class="inline-block ml1 mr1 mt1 px1 timerSlot">
              <div id="remaining_minutes_<%- index %>" class="h1 ticker courier">--</div>
              <div>Minutes</div>
            </div>
            <div class="inline-block ml1 mr1 mt1 px1 timerSlot">
              <div id="remaining_seconds_<%- index %>" class="h1 ticker courier">--</div>
              <div>Seconds</div>
            </div>
          </div>
          <div class="center mb3">
            <div class="center h3">Checksum</div>
            <div class="center ml4 mr4 bg-silver black courier"><%- item.chksum %></div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
